@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import '../others/styles/flags/flags.css';
@custom-variant dark (&:where(.app-dark, .app-dark *));

@layer base {
  h1 {
    @apply text-3xl font-bold mb-4;
  }
  h2 {
    @apply text-2xl font-bold mb-3;
  }
  h3 {
    @apply text-xl font-bold mb-2;
  }
  h4 {
    @apply text-lg font-bold mb-1;
  }
  h5 {
    @apply text-base font-bold mb-1;
  }
  h6 {
    @apply text-sm font-bold mb-1;
  }
}

/* Container query support */
@utility container-type-normal {
  container-type: normal;
}
@utility container-type-size {
  container-type: size;
}
@utility container-type-inline {
  container-type: inline-size;
}
